.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 24px 0;
}

.overview-cell {
  flex-direction: column;
  width: 33.33333%;
  flex: 1 0 280px;
  padding: 36px;
}

.overview-cell a {
  color: #FD1015;
  &:hover {
    opacity: 0.6;
  }
}
.overview-icon {
  font-size: 84px;
  color: #FD1015;
}

.homepage-section {
  text-align: center;
  padding: 36px 0;
}
.section-title {
  margin-bottom: 36px;
}

.section-description {
  width: 60%;
  margin-left: 20%;
  font-size: 14px;
}

#competition-schedule {
  background-color: $cream;
}
#apts {
  background-color: $cream;
}
