<div class="footer">
  <div class="contact-details">
    <p><strong>Episkopi Station Sports and Fitness Centre</strong></p>
    <br>
    <p>craig.william@mod.gov.uk</p>
    <p>Mil: 94120 3759</p>
  </div>
</div>
