<div class="footer">
  <div class="contact-details">
    <h5 style="font-weight: bold;">Episkopi Station Sports and Fitness Centre</h5>
    <br>
    <div class="contact-detail">
      <p><strong>Email:</strong></p>
      <p>craig.william@mod.gov.uk</p>
    </div>
    <div class="contact-detail">
      <p><strong>Mil:</strong></p>
      <p>94120 3759</p>
    </div>
  </div>
</div>
