<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "fitness_4.jpg" %>');">
  <div class="banner-content">
    <h1>Army Physical Training System</h1>
  </div>
</div>

<section class="page-content">
  <div class="card-product">
    <%= image_tag "fitness_1.jpg" %>
    <div class="card-product-info">
      <h2>Army Physical Training System</h2>
      <p>INSERT DESCRIPTION</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag "fitness_2.jpg" %>
    <div class="card-product-info">
      <h2>Physical Employment Standards (PES)</h2>
      <p>INSERT DESCRIPTION</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag "fitness_3.jpg" %>
    <div class="card-product-info">
      <h2>Lone Soldier Training Programme</h2>
      <p>INSERT DESCRIPTION</p>
    </div>
  </div>
</section>
