<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "fitness_4.jpg" %>');">
  <div class="banner-content">
    <h1>BFC Competitions</h1>
  </div>
</div>

<section class="page-content">
  <div class="card-product">
    <%= image_tag "epi_station_logo.png", style: "object-fit: contain !important" %>
    <div class="card-product-info">
      <h2>Station Commander's Cup</h2>
      <p>INSERT DESCRIPTION</p>
      <p><strong>Next event:</strong> INSERT EVENT</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag "bfc_crest.jpg", style: "object-fit: contain !important;" %>
    <div class="card-product-info">
      <h2>BFC Sporting Events</h2>
      <p>A series of team and individual events for all BFC personnel.</p>
      <p><strong>Next event:</strong> INSERT EVENT</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag "champion_company.jpg" %>
    <div class="card-product-info">
      <h2>Champion Company</h2>
      <p>Every Company in 2 MERCIAN competes for the title of being crowned "Champion Company".</p>
      <p><strong>Next event:</strong> INSERT EVENT</p>
    </div>
  </div>
</section>
