.banner {
  background-size: cover;
  height: 90vh;
  color: #eee;
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.fullscreen-banner {
  height: 100vh !important;
  align-items: center !important;
  justify-content: center !important;
}

.banner-content h1 {
  margin: 36px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-content p {
  font-size: 2vw;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
